<div class="app">
  <!-- <header>
    <nav>
      <ul>
        <li><a routerLink="/product">products</a></li>
        <li><a routerLink="/products/buy-now">skill</a></li>
      </ul>
      <ul>
      </ul>
    </nav>
   </header>
  <main>
    <h4>Routes Result</h4>
    <router-outlet></router-outlet>
  </main>

  <footer>
  </footer> -->

  <!-- <span class="whatsapp-chat">
    <a aria-label="Chat on WhatsApp" href="https://wa.me/8181038038" target="_blank"><img
        src="assest/images/whatsapp.gif"></a>
  </span> -->
<div class="top-bar theme-bg-primary py-2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7  col-xl-8 top-bar-left">
          <i class="fa-solid fa-location-dot theme-text-light pe-2"></i><span class="theme-text-light">Vijapur Road,
            Mansa, Gandhi Nagar, Gujarat</span>
        </div>
        <div class="col-12 text-start text-lg-end col-lg-5  col-xl-4 top-bar-right">
          <i class="bi bi-4-circle-fill"></i> <span class="theme-text-light"> GST No.
            24AANFV7800N1ZN</span>
          </div>
        </div>
      </div>
    </div>
</div>
<header class="theme-bg-secondary">
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand theme-text-primary me-0">
        <img src="/assets/images/logo.png" class="logo">
        <!-- <span class="theme-text-light d-none d-lg-inline-block ms-2">Vishwakarma Agricultural Works</span>  -->
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse " id="navbarCollapse"> -->
      <ul class="navbar-nav ms-auto mb-md-0 align-items-center">
        <li class="nav-item nav-btn">
          <!-- <a class="nav-link theme-btn theme-btn-sacendory me-2  "style="position: relative;" onclick="paynow()" > <i
              class="fa-solid fa-cart-shopping pe-2"></i> <div class="cart-info">1</div>Cart</a> -->
          <a class="nav-link theme-btn theme-btn-sacendory me-1" href="tel:+91 8181038038"> <i class="bi bi-telephone-fill"></i>Call</a>
          <a class="nav-link theme-btn theme-btn-sacendory me-1" href="mailto:info@vishwakarma.co.in"><i
              class="fa-regular fa-envelope pe-2"></i>Email</a>
          <a class="nav-link theme-btn theme-btn-sacendory" href="https://www.shiprocket.in/shipment-tracking/"
            target="_blank"><i class="fa-solid fa-location-dot pe-2"></i>Track Order</a>
        </li>
      </ul>
      <!-- </div> -->
    </div>
  </nav>
</header>

