
<div class="app">
  <!-- <header>
    <nav>
      <ul>
        <li><a routerLink="/product">products</a></li>
        <li><a routerLink="/products/buy-now">skill</a></li>
      </ul>
      <ul>
      </ul>
    </nav>
   </header>
  <main>
    <h4>Routes Result</h4>
    <router-outlet></router-outlet>
  </main>

  <footer>
  </footer> -->

  <!-- <span class="whatsapp-chat">
    <a aria-label="Chat on WhatsApp" href="https://wa.me/8181038038" target="_blank"><img
        src="assest/images/whatsapp.gif"></a>
  </span> -->
<div class="top-bar theme-bg-primary py-2">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7  col-xl-8 top-bar-left">
          <i class="fa-solid fa-location-dot theme-text-light pe-2"></i><span class="theme-text-light"><i class="bi bi-geo-alt-fill pe-2"></i>Vijapur Road,
            Mansa, Gandhi Nagar, Gujarat</span>
        </div>
        <div class="col-12 text-start text-lg-end col-lg-5  col-xl-4 top-bar-right">
          <i class="bi bi-check2-square theme-text-light mx-1"></i> <span class="theme-text-light"> GST No.
            24AANFV7800N1ZN</span>
          </div>
        </div>
      </div>
    </div>
</div>
<header class="theme-bg-secondary">
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand theme-text-primary me-0">
        <img src="/assets/images/logo.png" class="logo">
        <!-- <span class="theme-text-light d-none d-lg-inline-block ms-2">Vishwakarma Agricultural Works</span>  -->
      </a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse " id="navbarCollapse"> -->
      <ul class="navbar-nav ms-auto mb-md-0 align-items-center">
       
        <li class="nav-item nav-btn">
          <!-- <a class="nav-link theme-btn theme-btn-sacendory me-2  "style="position: relative;" onclick="paynow()" > <i
              class="fa-solid fa-cart-shopping pe-2"></i> <div class="cart-info">1</div>Cart</a> -->
          <a class="nav-link theme-btn theme-btn-sacendory me-1" href="tel:+91 8181038038"> <i class="bi bi-telephone-fill pe-2"></i>Call</a>
          <a class="nav-link theme-btn theme-btn-sacendory me-1" href="mailto:info@vishwakarma.co.in"><i class="bi bi-envelope pe-2"></i>Email</a>
          <a class="nav-link theme-btn theme-btn-sacendory" href="https://www.shiprocket.in/shipment-tracking/"
            target="_blank"><i class="bi bi-geo-alt-fill pe-2"></i>Track Order</a>
        </li>
      </ul>
      <!-- </div> -->
    </div>
  </nav>
</header>
<div id="DetailsOfProduct">
  <div class="loader-section">
    <div class="loader"></div>
  </div>
  <section class="benefits-section">
    <div class="container">
      <div class="head-section">
        <h2 class="mb-0 theme-text-primary">सुबह शाम घंटनाद के साथ आरती क्यों?</h2>
      </div>
      <div class="row align-items-center justify-content-between benefits-image">
        <div class="mb-sm-5 mb-xl-0 col-lg-12 col-xl-5 col-xxl-6 benefits-img">
          <img src="assets/images/home-slider/home-slider1.jpg" class="w-100 h-100 theme-border-radius">
        </div>
        <div class=" row col-lg-12 col-xl-7 col-xxl-6 benefits-pera">
          <!-- <i class="fa-solid fa-check theme-icon-secondary pe-2 theme-icon-size-small"></i> -->
          <p>डिप्रेशन, ऐंगझाईटी, टेंशन और चिंता के इस समय में हमे चाहिए सकारात्मक वातावरण और पीतल की घंटियों और जालर
            की
            ध्वनि सकारात्मक ऊर्जा पैदा करती है और इस मशीन में 2 पीतल की घंटियाँ और 2 जालर लगे हुए हैं। सुबह-शाम आरती
            करने से हमारे घर में नकारात्मक ऊर्जा का प्रभाव कम होता है।</p>
          <!-- <i class="fa-solid fa-check theme-icon-secondary pe-2 theme-icon-size-small"></i> -->
          <p>जब परिवार के सदस्य सुबह-शाम एकत्रित होकर आरती करते हैं तो परिवार में एकता और आपसी सम्मान बढ़ता है।</p>
          <!-- <i class="fa-solid fa-check theme-icon-secondary pe-2 theme-icon-size-small"></i> -->
          <p>आप सुबह-शाम 10-15 मिनट आरती करेंगे तो आप मोबाइल और टीवी जैसे उपकरणों से दूर रहेंगे और मानसिक तनाव कम
            होगा।
          </p>
          <!-- <i class="fa-solid fa-check theme-icon-secondary pe-2 theme-icon-size-small"></i> -->
          <p>हमें अपनी परंपरा और धर्म पर गर्व होना चाहिए और इसके लिए सभी धार्मिक तरीकों को अपनाना चाहिए। सुबह और शाम
            की
            आरती इनमें से सबसे अच्छी और सरल है और अगर यह घंटी, ढोल और शंख की ध्वनि के साथ की जाए तो यह और भी पवित्र हो
            जाती है।</p>
          <!-- <i class="fa-solid fa-check theme-icon-secondary pe-2 theme-icon-size-small"></i> -->
          <p>मानसिक और शारीरिक कठिनाइयों को दूर करने का सबसे अच्छा तरीका है भगवान की पूजा में कुछ समय व्यतीत करना।
            आरती
            करने से हमें पूर्ण शांति और आराम मिलता है।</p>
        </div>
      </div>
    </div>
  </section>
  <section class="features-section theme-bg-primary-light">
    <div class="container">
      <div class="head-section">
        <h2 class="mb-0 theme-text-primary">आरती नगाड़े की विशेषता</h2>
      </div>
      <div class="row features-info justify-content-center align-items-center justify-content-between">
        <div class="col-lg-6 features-point">
          <div class="row">
            <div class="col-sm-12 col-md-6 mb-4 features-card">
              <div class="card theme-border-radius theme-shadow">
                <div class="card-body">
                  <i class="fa-solid fa-gauge-high theme-icon-size mb-3 theme-icon-primary"></i>
                  <h3 class="card-title theme-icon-primary">स्पीड कंट्रोल कर सकते है।</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 features-card">
              <div class="card theme-border-radius theme-shadow">
                <div class="card-body">
                  <i class="fa-solid fa-bell theme-icon-size mb-3 theme-icon-primary"></i>
                  <h3 class="card-title theme-icon-primary">शुद्ध पीतल की घंटी और जालर</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 features-card">
              <div class="card theme-border-radius theme-shadow">
                <div class="card-body">
                  <i class="fa-solid fa-award theme-icon-size mb-3 theme-icon-primary"></i>
                  <h3 class="card-title theme-icon-primary">6 महीने की वारंटी</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-4 features-card">
              <div class="card theme-border-radius theme-shadow">
                <div class="card-body">
                  <i class="fa-solid fa-truck theme-icon-size mb-3 theme-icon-primary"></i>
                  <h3 class="card-title theme-icon-primary">फ्री होम डिलिवरी</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 mb-sm-4 mb-xl-0 features-card">
              <div class="card theme-border-radius theme-shadow">
                <div class="card-body">
                  <i class="fa-solid fa-volume-off theme-icon-size mb-3 theme-icon-primary"></i>
                  <h3 class="card-title theme-icon-primary">इंपोर्टेड हेवी साइलेंट मोटर</h3>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6  mb-sm-4 mb-xl-0 features-card">
              <div class="card theme-border-radius theme-shadow">
                <div class="card-body">
                  <i class="fa-solid fa-plus theme-icon-size mb-3 theme-icon-primary"></i>
                  <h3 class="card-title theme-icon-primary">शंखनाद और मयूर ध्वनि के साथ।</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 features-img">
          <img src="assets/images/home-slider/home-slider3.jpg" class="w-100 theme-border-radius">
        </div>
      </div>
    </div>
  </section>
  <section class="work-section">
    <div class="container">
      <div class="head-section">
        <h2 class="mb-0 theme-text-primary">Some videos</h2>
      </div>
      <div class="row video-section">
        <div class="col-md-6 col-lg-3 mb-3">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/_mC5NCZ--P0?si=M0FU8FY55MrrdS6w"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/ixun4-C-r-c?si=nHeevsMASbGATvTi"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/x7UIKZCaZhE?si=SFbNLmqVffGaL6U5"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/Oa_Na63m5fI?si=VRxXvoanduGZjwdG"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <!-- <div class="col-md-6 col-lg-4 mb-3">
        <iframe width="100%" height="315" class="theme-border-radius"
          src="https://www.youtube.com/embed/3lM3B-jRFPE?si=emnLJIL2lV3MLcEV" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div> -->
        <!-- <div class="col-md-6 col-lg-4 mb-3">
        <iframe width="100%" height="315" class="theme-border-radius"
          src="https://www.youtube.com/embed/Lk4ZIiRzB3E?si=Af9Vy1gB-3TZBXXb" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div> -->
      </div>
    </div>
  </section>
  <section class="our-story"
    style="background-image: url(assets/images/home-slider/home-slider2.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; border-bottom: 5px solid#fff;">
    <div class="container">
      <div class="row">
        <div class="head-section">
          <h2 class="mb-0 theme-text-primary">Our story</h2>
          <p class="theme-text-light pb-3">We have made big machines and we have also made the world's biggest machine
            and that machine is still made every day in Kashi Vishwanath.</p>
          <p class="theme-text-light">When people donated big machines to the temple, they also needed small machines
            for their home temples. Many people told us to make a small machine, so we started working on it. We were
            not able to get the motor. Small bells and chimes were not available in the market and all the small parts
            were needed for the small drum, so we made all of them, 3D printed them and made the first machine. When
            everyone saw it, everyone started ordering it. Later, we made patterns on all the right sides and made the
            machine.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonials">
    <div class="container">
      <div class="head-section">
        <h2 class=" theme-text-primary">Testimonial</h2>
      </div>
      <div class="testimonials-info">
        <div class="slider-container">
          <div class="slides" [ngStyle]="{'transform': 'translateX(' + currentTransform + '%)'}">
            <div class="slide" *ngFor="let card of cards">
              <div class="card mx-3 theme-border-radius theme-shadow">
                <div class="card-body ">
                  <img [src]="card.image">
                  <h3 class="card-title theme-icon-primary">{{card.title}}</h3>
                  <p>{{card.description}}</p>
                  <img src="assets/images/star.png">
                </div>
              </div>
            </div>
          </div>
        
          <!-- Navigation Buttons -->
          <a class="prev" (click)="prevSlide()">&#10094;</a>
          <a class="next" (click)="nextSlide()">&#10095;</a>
        </div>
        
      </div>
    </div>

   
  </section>
  
</div>
<footer class="theme-bg-secondary py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class=" footer-logo">
        <a href="index.html"> <img src="assets/images/logo.png" class="d-block footer-logo"></a>
        <div class="row footer-location  mt-2">
          <i class="fa-solid fa-location-dot theme-icon-primary-light"></i>
          <p class="theme-text-light mb-0 ">Vishwakarma Agricultural Works,<br> Mansa, Gujarat</p>
        </div>
      </div>
      <div class="footer-social">
        <a href="tel:+91 8181038038" class="theme-text-light mb-2 d-inline-block"><i
            class="fa-solid fa-phone pe-2 theme-icon-primary-light"></i>8181038038</a><br>
        <a href="mailto:info@vishwakarma.co.in" target="_blank" class="theme-text-light mb-2 d-inline-block"> <i
            class="fa-regular fa-envelope pe-2 theme-icon-primary-light"> </i> info&#64;vishwakarma.co.in</a><br>
        <a href="http://www.artimachine.com/" target="_blank" class="theme-text-light mb-2 d-inline-block"><i
            class="fa-solid fa-globe pe-2 theme-icon-primary-light"></i> www.artimachine.com</a>
        <a href="https://www.instagram.com/reel/C48MamtxfWN/?igsh=MTh6bXlmdzZhZzRwbA%3D%3D" target="_blank"
          class="theme-text-light mb-2 d-block"><i
            class="fa-brands fa-instagram pe-2 theme-icon-primary-light"></i>Instagram</a>
        <a href="term_conditions_policy.html" class="theme-text-light mb-2  d-block"><i
            class="fa-solid fa-lock pe-2 theme-icon-primary-light"></i>Terms & Conditions Use</a>
        <a href="contact.html" class="theme-text-light d-block"><i
            class="fa-solid fa-phone pe-2 theme-icon-primary-light"></i>
          Contact us</a>
      </div>
    </div>
    </div>
</footer>

