
  // ---------------------------- header section ---------------------------
  header .nav-btn a {
    cursor: pointer;
    text-align: center;
    padding-left: 25px !important;
    padding-right: 25px !important;
  
  }
  
  header .navbar span {
    font-size: 18px;
    font-weight: 600;
  }
  header .logo{height: 75px;}